{% block content %}
    <strong>Demande de réinitialisation du mot de passe.</strong><br>
    <p>Vous avez demandé(e) la modification de votre mot de passe sur ManaPresta,<br> si vous n'êtes pas à l'origine de cette démarche, veuillez ignorer cet email.</p>
    <p>Sinon, pour finaliser votre demande, merci de cliquer sur le lien suivant :</p>
    <p><a href="{{ url('updatePassword', { 'slug': user.token }) }}">Modifier mon mot de passe ManaPresta</a></p>
    <p>Merci de votre confiance,<br>A très bientôt sur ManaPresta !</p>
    <p><i>(Ceci est un mail automatique, merci de ne pas répondre.)</i></p>
{% endblock %}