<div class="col-md-12 card p-3 mt-5">
    <h3 class="text-center">Bienvenue dans ManaPresta !</h3>
    <p>ManaPresta est une application web destinée aux personnes travaillant dans l'hôtellerie restauration, et particulièrement utile pour ceux qui fonctionnent exclusivement en extras.</p>
    <p>Elle consiste à enregistrer toutes les informations utiles à chaque vacations effectuées, ce qui permet un management organisé et rigoureux des prestations.</p>
    <p>Cela permet de se tenir à jour dans ses comptes. En effet, quand on travail sur plusieurs prestations par jour avec plusieurs employeurs différents qui ont chacun un honoraire propre à eux, il devient vite compliqué de savoir quel employeur nous doit combien, quand et pour quelle prestation.</p>
    <p>
        Le fonctionnement de ManaPresta est très simple :
        <ol>
            <li>Création d'un compte.</li>
            <li>Enregistrement de votre ou vos employeur(s) dans l'onglet "Mes Employeurs".</li>
            <li>Enregistrement de vos vacations dans l'onglet "Mes Prestations".</li>
        </ol>
        Et c'est tout !<br>
        L'onglet "Mes Revenus" vous permet de visualiser vos prestations effectuées par mois, par employeur, et par mois + employeur.
    </p>
</div>